[workspace]
resolver = "2"
members = [
    "helyim",
    "proto"
]

[workspace.package]
authors = ["iamazy <iamazy.me@outlook.com>"]
edition = "2021"
version = "0.1.0"
homepage = "https://github.com/helyim/helyim/"
repository = "https://github.com/helyim/helyim"
license = "MIT OR Apache-2.0"

[workspace.dependencies]
async-broadcast = "0.5"
async-stream = "0.3"
async-trait = "0.1"
axum = "0.6"
axum-extra = "0.7"
axum-macros = "0.3"
bincode = "1"
bytes = "1"
clap = "4"
console-subscriber = "0.1"
crc = "3"
dashmap = "5"
faststr = "0.2"
futures = "0.3"
hyper = "0.14"
libflate = "2"
lru = "0.11"
mime_guess = "2.0.4"
multer = "2"
parking_lot = "0.12"
pin-project-lite = "0.2"
prost = "0.12"
rand = "0.8"
rustix = "0.38"
serde = "1"
serde_json = "^1"
sonyflake = "0.2"
thiserror = "^1"
tokio = "1"
tokio-stream = "0.1.8"
tokio-uring = "0.4"
tonic = "0.10"
tonic-build = "0.10"
tracing = "0.1"
tracing-subscriber = "0.3"
url = "2"
