[package]
name = "helyim"
version.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
authors.workspace = true
description = """
helyim is a object storage written by Rust.
"""
documentation = "https://github.com/helyim/helyim"
readme = "README.md"
categories = ["object storage"]
keywords = ["helyim", "seaweedfs", "object storage", "s3", "rust"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-stream.workspace = true
async-trait.workspace = true
axum = { workspace = true, features = ["multipart", "headers"] }
axum-extra = { workspace = true, features = ["default"] }
axum-macros.workspace = true
bincode.workspace = true
bytes = { workspace = true, features = ["serde"] }
clap = { workspace = true, features = ["derive"] }
crc.workspace = true
faststr = { workspace = true, features = ["serde"] }
futures.workspace = true
helyim-proto = { path = "../proto" }
hyper = { workspace = true, features = ["full"] }
libflate.workspace = true
lru.workspace = true
mime_guess.workspace = true
multer.workspace = true
once_cell.workspace = true
parking_lot.workspace = true
pin-project-lite.workspace = true
rand.workspace = true
rustix = { workspace = true, features = ["fs"] }
serde = { workspace = true, features = ["derive"] }
serde_json.workspace = true
sonyflake.workspace = true
thiserror.workspace = true
tokio = { workspace = true, features = ["full"] }
tokio-stream.workspace = true
tokio-uring = { workspace = true, optional = true }
tracing.workspace = true
tracing-subscriber.workspace = true
url.workspace = true
tonic.workspace = true
validator = { workspace = true, features = ["derive"] }

[dev-dependencies]
tokio = { workspace = true, features = ["full"] }

[features]
default = []
iouring = ["tokio-uring"]